.comments{
	a{
		color: $white;
	}

	p{
		word-wrap: break-word;
	}

	.comment-new{
		border-left: 2px solid $primary;
		border-radius: 2px;
	}
}

#comment-text{
  	width: 100%;
}


#comment-manage{
	color: $body-color;

	&:hover, &:focus{
		color: darken($body-color, 20%);
		cursor: pointer;
	}
}