.invalid-feedback{
    margin: 10px 0;
    
    strong{
        font-size: 14px;
    }
}

.social-button{
    color: $gray-800;

    &:hover{
        text-decoration: none;
        color: $white;
    }
    &:focus{
        text-decoration: none;
        color: $white;
    }
}