//
// Font utilities
//

.text-black{
    color: $black;
}

//
// Input
//

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &:focus {
        + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
    
    + label {
        cursor: pointer;
    }

    + label * {
        pointer-events: none;
    }
    
}

//
// dropdown
//

.dropdown{
    .post-edit-button, .post-delete-button{
        &:hover, &:focus{
            cursor: pointer;
        }
    }
}

//
// image
//
.img-xs{
    max-width: 25px;
    max-height: 25px;
}

.img-sm{
    max-width: 45px;
    max-height: 45px;
}

.img-md{
    max-width: 100px;
    max-height: 100px;
}

.img-lg{
    max-width: 350px;
    max-height: 350px;
}
