//
// Font utilities
//

.text-black{
    color: $black;
}

//
// Input
//

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &:focus {
        + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
    
    + label {
        cursor: pointer;
    }

    + label * {
        pointer-events: none;
    }
    
}

//
// dropdown
//

.dropdown{
    .dropdown-item{
        &:hover, &:focus{
            cursor: pointer;
        }
    }
}

//
// image
//
.img-xs{
    width: 25px;
    max-height: 25px;
}

.img-sm{
    width: 45px;
    max-height: 45px;
}

.img-md{
    width: 100px;
    max-height: 100px;
}

.img-lg{
    width: 350px;
    max-height: 350px;
}


//
// footer
//

html, body {
    height: 100%;
}
  
#wrap {
    min-height: 100%;
}
  
#pusher {
    padding-bottom: 100px; /* this needs to be bigger than footer height*/
}
  