.modal{
  
  	#registrationModal{
    
		.modal-header{
			background-color: $body-bg;
		}
    
  	}
  
  	.close{
		color: $gray-500;
		text-shadow: none;
    
		&:hover{
			color: lighten($gray-500, 50%);
			text-shadow: none;
		}
  	}
}