#mainNav{
    .input-group-text{
        color: $gray-700;
        background-color: $white;
    }

    .vertical-divider{
        border-left: 1px solid $gray-400;
        height: 25px;
    }

    .dropdown-menu{
        margin-top: 8px;

        .dropdown-item{
            text-align: center;
            white-space: normal;
        }

        .dropdown-header{
            text-align: center;
            white-space: normal;
        }
    }

    .nav-link{
        &:hover, &:focus{
            cursor: pointer;
        }
    }
}

#smallNav{
    a{
        color: $white;
    }

    .dropdown-item{
        text-align: center;
        white-space: normal;
    }

    .dropdown-header{
        text-align: center;
        white-space: normal;
    }
}