section#posts, #post-show{

    .post-author{
        color: $body-color;
    }

    .social-button{
        color: $gray-900;

        &:hover, &:focus {
            text-decoration: none;
            color: $body-color;
        }
    }

    .has-like{
        color: $info;

        &:hover{
            text-decoration: none;
            color: $white;
            cursor: pointer;
        }
        &:focus{
            text-decoration: none;
            color: $white;
            cursor: pointer;
        }
    }

    #post-manage{
        color: $body-color;

        &:hover, &:focus{
            color: darken($body-color, 20%);
            cursor: pointer;
        }
    }
}