section#profile-show{
    .card{
        max-width: 600px;
    }
    
    .btn-nav{
        width: 150px;
        text-align: center;
    }

    #profile-image-edit{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    hr{
        border: 1px solid $gray-100;
        border-radius: 10px;
    }
}